.footer {
    padding: 30rem 0;
}

.ft_top {
    padding: 15rem 40rem 15rem 30rem;

    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .custom {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10rem;

            li {
                font-size: 14rem;
                font-weight: 500;
                color: $color-gray;
                padding: 10rem 15rem;
                position: relative;

                strong {
                    color: $color-dgray;
                    font-size: 14rem;
                    font-weight: 500;
                }
            }

            li:hover {
                background: rgba(0, 0, 0, 0.05);
                border-radius: 8rem;
            }

            li~li::after {
                content: "";
                position: absolute;
                top: 50%;
                left: -5rem;
                transform: translate(0, -50%);
                width: 1rem;
                height: 10rem;
                background: #ddd;
            }
        }

        .family {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 5rem 10rem;
            position: relative;

            font-size: 14rem;
            font-weight: 400;
            color: $color-gray;

            .family_list {
                position: absolute;
                bottom: 30rem;
                right: 0;
                padding: 25rem 20rem;
                background: $color-white;
                border-radius: 10rem;
                box-shadow: 
                0 0 1px rgba(0,0,0,.25),
                0 8px 20px rgba(0,0,0,.15);
                ;

                display: none;
                li {
                    font-size: 14rem;
                    font-weight: 500;
                    color: $color-dgray;
                    line-height: 19rem;
                    padding: 5rem 10rem;
                }

                li:hover {
                    background: rgba(0, 0, 0, 0.05);
                    border-radius: 8rem;
                }
            }

            .family_list.on {
                display: block;
            }

        }

        .family:hover {
            background: rgba(0, 0, 0, 0.05);
            border-radius: 8rem;
        }
    }
}

@media (max-width: 768px) {
    .ft_top {
        .inner {
            padding: 10rem 0;
            flex-direction: column;
            //align-items: flex-start;
    
            .custom {
                display: grid;
                text-align: center;
            }
    
            .family {
                flex-direction: column;
            }
        }
        
    }
}