.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background: $color-white;
    z-index: 999;
    height: 100rem;

    transition: 0.5s;

    .inner {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 0 60rem;
        height: 100%;

        .logo {
            &>img {
                position: absolute;
                top: 50%;
                left: 60rem;
                transform: translate(0, -50%);
            }
        }
    
        .gnb {
            &>ul {
            display: flex;
            text-align: left;
            gap: 30rem;
            height: 100rem;
                
                &>li {
                    font-size: 15rem;
                    font-weight: 500;
                    color: $color-black;
                    position: relative;
                    height: 100rem;
                    display: flex;
                    align-items: center; 

                    &>a {
                        padding: 15rem 15rem;
                    }

                    &:hover .gnb_a {
                        background: rgba(0, 0, 0, 0.05);
                        border-radius: 10rem;
                    }

                    .lnb{
                       opacity: 0;
                       visibility: hidden;
                       
                       position: absolute;
                       top: 75rem;
                       left: 0;
                       //width: 800rem; 
                       width: 800rem;
                       background: $color-white; 
                       border-radius: 10rem;   
                        padding: 30rem 30rem 30rem 30rem;
                       z-index: 999;
                        box-shadow: 0 0 1px rgba(0,0,0,.25),
                        0 8px 20px rgba(0,0,0,.15);
                        

                        .l_top {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 30rem;

                            h3 {
                                font-size: 12rem;
                                font-weight: 500;
                                color: $color-gray;
                                margin: 0 0 10rem 15rem;
                            }

                            .security {
                                margin-top: 60rem;
                            }

                            .egg {
                                display: flex;
                                gap: 10rem;
                                margin-bottom: 10rem;
                                padding: 10rem 15rem;

                                img {
                                    width: 40rem;
                                    height: 40rem;
                                    border-radius: 8rem;
                                }

                                dl {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-evenly;
                                    height: 40rem;

                                    dt {
                                        font-size: 13rem;
                                        font-weight: 500;
                                        color: $color-black;
                                    }

                                    dd {
                                        font-size: 12rem;
                                        font-weight: 300;
                                        color: $color-gray;
                                    }
                                }
                            
                            }

                            .egg:hover {
                                background: rgba(0, 0, 0, 0.05);
                                border-radius: 10rem;
                            }
                        }
    
                        .l_bottom {
                            height: 70rem;
                            background: linear-gradient(90deg,#ff6746,#ff477e);
                            display: flex;  
                            align-items: center;
                            justify-content: center;
                            border-radius: 8rem;
                            &>a {
                                color: $color-white;
                                &>img {
                                    width: 190rem;
                                }
                                &>span {
                                    font-size: 12rem;
                                    font-weight: 300;
                                    margin-left: 25rem;
                                }
                                &>strong {
                                   font-size: 18rem;
                                   font-weight: 500;
                                   margin-left: 5rem;
                                }
                            }
                        }
                    }

                    .lnb.on {
                        opacity: 1;
                        visibility: visible;
                    }

                &:hover .lnb {
                    opacity: 1;
                    visibility: visible;
                }
                    
                    .list {
                        display: none;
                        position: absolute;
                        top: 75rem;
                        left: 0;
                        z-index: 999;

                        background: $color-white;
                        border-radius: 10rem;
                        width: 150rem;
                        padding: 20rem;
                        box-shadow: 0 0 1px rgba(0,0,0,.25),
                        0 8px 20px rgba(0,0,0,.15);

                        &>li {
                            font-size: 12rem;
                            color: $color-gray;

                            &>a {
                                padding: 5rem 15rem;
                            }

                            &>a:hover {
                                background: rgba(0, 0, 0, 0.05);
                                border-radius: 5rem;
                            }
                        }

                        &>li:not(:last-child) {
                            margin-bottom: 15rem;
                        }
                    }

                    .list.on {
                        display: block;
                    }

                    &:hover .list {
                        display: block;
                    }
                }
            }
        }
        
        .login {
            position: absolute;
            top: 50%;
            right: 60rem;
            transform: translate(0, -50%);

            .log {
                background: $color-black;
                color: $color-white;
                font-size: 16rem;
                padding: 10rem 15rem;
                border-radius: 10rem;
            }
        }
    }
    .mobil_btn {
       display: none;
    }
}



.header.on {
    background: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #ddd;
}

@media (max-width: 768px) {

    .header {
        position: fixed;
        background: #fff;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        width: 100%;
        height: 65rem;

        .inner {
            justify-content: space-between;

            h1 {

                .logo {

                    img {
                        position: absolute;
                        top: 30rem;
                        left: 30rem;
                        z-index: 999;
                    }
                }
                
            }

            .gnb {
                position: fixed;
                top: -400rem;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                background: $color-white;
                transition: 0.5s;

                min-height: 100vh;
                z-index: 998;
                opacity: 0;
                visibility: hidden;
                overflow-y: auto;

                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    padding: 150rem 20rem 0 20rem;

                    &>li {
                        flex-direction: column;
                        text-align: left;
                        height: auto;
                        position: relative;

                        .lnb {
                            width: 100%;
                            z-index: 1000;
                            box-shadow: none;
                            padding: 0;
                            opacity: 0;
                            visibility: hidden;

                            //display: block;
                            
                            .l_top {
                                flex-direction: column;
                                
                                .egg {
                                    margin-bottom: 0;
                                }
                                
                            }
    
                            .l_bottom {
                                flex-direction: column;
                                width: 100%;
                                img {
                                    display: none;
                                }
                            }
                        }
    
                        .lnb.on {
                           opacity: 1;
                           visibility: visible;
                        }
                    }      
                }
            }

            .gnb.on {
                opacity: 1;
                visibility: visible;

                top: 0;
                
            }

            .login {
                position: absolute;
                top: 100rem;
                left: 20rem;
                right: 20rem;
                z-index: 999;
                display: none;
                width: 100%;

                .log {

                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        //padding: 15rem 0;
                    }
                }
                
            }
            .login.on {
                display: block;
            }
        }

        .mobil_btn {
            position: absolute;
            top: 15rem;
            right: 25rem;

            display: block;
            z-index: 999;
            i {
                font-size: 26rem;
                color: $color-black;
            }
           
        }
  
    }

   
}