.main_banner {
    padding: 50rem 40rem;
    position: relative;

    .banner_slide {
        border-radius: 25rem;
        overflow-x: hidden;
        position: relative;

        .swiper-wrapper {
            height: 400rem;

            .banner01 {
                background: url(../imges/mba01.png)no-repeat center center/cover;
            }
            
            .banner02 {
                background: url(../imges/mba02.png)no-repeat center center/cover;
            }
            .banner03 {
                background: url(../imges/mba03.png)no-repeat center center/cover;
            }

            .txt {
                max-width: 1200rem;
                width: 100%;
                margin: 0 auto;
                padding: 0 15rem;

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                span {
                    display: inline-block;
                    font-size: 16rem;
                    font-weight: 500;
                    padding: 10rem 25rem;
                    //border: 1px solid $color-black;
                    border-radius: 50rem;
                    color: $color-black;
                    background: $color-white;
                    margin-bottom: 30rem;

                    position: relative;

                    img {
                        position: absolute;
                        top: -32rem;
                        right: 2rem;
                        width: 40rem;
                        height: 40rem;
                    }
                }

                h3 {
                    font-size: 30rem;
                    font-weight: 700;
                    color: $color-black;
                    margin-bottom: 15rem;
                }

                p {
                    font-size: 14rem;
                    font-weight: 400;
                    color: $color-black;
                    margin-bottom: 5rem;
                }

                strong {
                    font-size: 13rem;
                    font-weight: 300;
                    color: $color-black;
                }
            }
        }
    }

    .page_btn {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        z-index: 999;
        cursor: pointer;

        i {
            font-size: 20rem;
            font-weight: 700;
            background: $color-white;
            border-radius: 50%;
            padding: 15rem;
        }
        .left {
            position: absolute;
            left: 5%;
        }

        .right {
            position: absolute;
            right: 5%;
        }
    }

    .page_num02 {
        position: absolute;
        bottom: 20%;
        left: 21%;
        transform: translate(-50%, 0);

        max-width: 1200rem;
        margin: 0 auto;
        padding: 8rem 15rem;
        z-index: 998;
        width: 65rem;

        display: flex; 
        justify-content: flex-start;
        gap: 5rem;
        color: $color-white;
        background: rgba(0,0,0,.1);
        border-radius: 50rem;
    }
}

@media (max-width: 768px) {
    .main_banner {
        padding: 25rem 20rem;

        .banner_slide {
            .swiper-wrapper {
                height: 300rem;
    
                .banner01 {
                    background: url(../imges/mba_r01.png)no-repeat center bottom/cover;
                }
                
                .banner02 {
                    background: url(../imges/mba_r02.png)no-repeat center center/cover;
                }
                .banner03 {
                    background: url(../imges/mba_r03.png)no-repeat center center/cover;
                }

                .txt {
                    top: 30%;
                    left: 54%;
                    text-align: left;
                    span {
                        font-size: 12rem;
                        padding: 10rem 15rem;
                    }

                    h3 {
                        font-size: 16rem;
                        font-weight: 500;
                    }

                    p {
                        font-size: 12rem;
                        font-weight: 300;
                    }

                    strong {
                        font-size: 10rem;
                    }
                }
            }
        } 

        .page_btn {
            display: none;
        }
    
        .page_num02 {
            bottom: 15%;
            left: 18%;
        }
    }
   
}