.main_news {
    padding-top: 50rem 0;
    
    
    .inner {
        background: url(../imges/mn01.png)no-repeat center center/cover;
        min-height: 300rem;
        position: relative;

        .news_box {
            @include inner();
            @include position_center();

            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20rem;

            .news {
                display: flex;
                align-items: center;
                gap: 20rem;
                background: $color-white;
                border-radius: 10rem;
                padding: 10rem 25rem;
                min-height: 100rem;

                img {
                    width: 40rem;
                    height: 40rem;
                }

                .check {
                    font-size: 26rem;
                    font-weight: 500;
                }

                p {
                    display: flex;
                    flex-direction: column;
                    gap: 5rem;
                   
                    span {
                        font-size: 12rem;
                        font-weight: 400;
                        color: $color-gray;
                    }

                    strong {
                        font-size: 15rem;
                        font-weight: 500;
                        color: $color-dgray;
                    }
                }
            }
        }
    }
}